.bg {
  background-image: url('Capture.PNG');
  background-position: center;
  height: 100vh;
}
.resize{
  height: 28px;
  background-image: url('Grouplogo.png');
}
.nav-items a{
  color: azure;
  text-decoration: none;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;

}
.nav-menu{
  list-style: none;
  display: flex;
  color: azure;
  
}
.nav-menu li{
  margin: 10px 5vh;
  padding: 5px;
  cursor: pointer;
  border-radius: 8px;
  transition: .7s;

}
.nav-menu li:hover{
  background-color: #0000002b;
  transform: translateY(-5px);
}
.nav-items{
  display: flex;
  justify-content: space-between;
  padding: 40px 90px;  
}